Pyromaniacs/Source/Packages/
Pyromaniacs/Backup/
Pyromaniacs/Plugins/*
!Pyromaniacs/Plugins/GamePlugin.core.dll
!Pyromaniacs/Plugins/GamePlugin.core.pdb
!Pyromaniacs/Plugins/GamePlugin.core.xml
!Pyromaniacs/Plugins/EditorPlugin.editor.dll
!Pyromaniacs/Plugins/EditorPlugin.editor.pdb
!Pyromaniacs/Plugins/EditorPlugin.editor.xml
Pyromaniacs/NVorbis.dll
Pyromaniacs/OpenTK.GLControl.dll
Pyromaniacs/OpenTK.GLControl.xml
Pyromaniacs/OpenTK.dll
Pyromaniacs/OpenTK.dll.config
Pyromaniacs/OpenTK.pdb
Pyromaniacs/OpenTK.xml
Pyromaniacs/FarseerDuality.xml
Pyromaniacs/FarseerDuality.pdb
Pyromaniacs/Microsoft.Web.XmlTransform.dll
Pyromaniacs/NVorbis.XML
Pyromaniacs/FarseerDuality.dll
Pyromaniacs/EditorUserData.xml
Pyromaniacs/PopupControl.dll
Pyromaniacs/PopupControl.pdb
Pyromaniacs/DualityUpdater.exe
Pyromaniacs/DualityPrimitives.pdb
Pyromaniacs/WeifenLuo.WinFormsUI.Docking.dll
Pyromaniacs/WeifenLuo.WinFormsUI.Docking.pdb
Pyromaniacs/logfile.txt
Pyromaniacs/logfile_editor.txt
Pyromaniacs/logfile_editor_prev.txt
Pyromaniacs/perflog.txt
Pyromaniacs/Aga.Controls.dll
Pyromaniacs/Aga.Controls.pdb
Pyromaniacs/Duality.pdb
Pyromaniacs/Duality.xml
Pyromaniacs/AdamsLair.WinForms.pdb
Pyromaniacs/AdamsLair.WinForms.xml
Pyromaniacs/perflog_editor.txt
Pyromaniacs/DDoc.chm
Pyromaniacs/DesignTimeData.dat
Pyromaniacs/DualityEditor.pdb
Pyromaniacs/DualityEditor.xml
Pyromaniacs/DualityLauncher.exe
Pyromaniacs/DualityLauncher.exe.config
Pyromaniacs/DualityLauncher.pdb
Pyromaniacs/DualityPrimitives.XML
Pyromaniacs/AdamsLair.WinForms.dll
Pyromaniacs/Source/Code/CorePlugin/bin/
Pyromaniacs/Source/Code/CorePlugin/obj/
Pyromaniacs/Source/Code/CorePlugin/GamePlugin.core.xml
Pyromaniacs/Source/Code/EditorPlugin/bin/
Pyromaniacs/Source/Code/EditorPlugin/obj/
Pyromaniacs/Source/Code/EditorPlugin/GamePlugin.core.xml
Pyromaniacs/Source/Code/ProjectPlugins.v12.suo
Pyromaniacs/Temp